<!DOCTYPE html>
<html>
    <head>
        <title>table</title>
        <style>
            /* table */
            table{
                height: 100vh;
                width: 100vw;
                background-color: aqua;
                border-style: solid;
            }
            /* tr */
            tr{
                width: 100vw;
                height: 50vh;

            }
            /* td */
            td{
                width: 100vw;
                height: 50vh;
            }
        </style>
    </head>
    <body style="margin: 0;">
        <table>
            <!-- row-one -->
            <tr>
                <td style="background-color: blue;"></td>
                <td style="background-color: blueviolet;"></td>
                <td style="background-color:blue;"></td>
            </tr>
            <!-- row-two -->
            <tr>
                <td style="background-color: blueviolet;"></td>
                <td style="background-color: blue;"></td>
                <td style="background-color: blueviolet;"></td>
            </tr>
        </table>
        <a href="../flex/tourisum-layout.html"><button type="button">Move To Next Layout</button></a>
    </body>
</html>